@import "tailwindcss";

html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  overscroll-behavior: none;
  background: #000;
}

#root {
  height: 100%;
  overflow: hidden;
}

.recharts-sector {
  cursor: pointer;
  outline: none;
}
