@import "tailwindcss";

html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  overscroll-behavior: none;
  background: #000;
}

#root {
  height: 100%;
  overflow: hidden;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.recharts-sector {
  cursor: pointer;
  outline: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
